.key {
    font-size: 3.4em;
    vertical-align: middle;
    background-color: #ffffff;
    padding: 16px;
}

.key:active {
    transform: translate3d(0, 5px, 0);
}

.control button {
    font-size: 2em;
}

.octave {
    display: grid;
    grid-template-rows: 100px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
}

.octave:nth-child(1) {
    margin-left:40%;
}

.octave:nth-child(2),
.octave:nth-child(3) {
    margin-right:40%;
}

.thanks {
    margin-top:100px;
}

.chord-board > div{
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-rows: 100px;
}
.pattern-a {
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.pattern-b {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.pattern-c {
    grid-template-columns: 1fr 1fr;
}

.chord {
    padding: 10px;
    border-radius: 10px;
    border: solid 1px #c0c0c0;
}